apiVersion: v1
kind: Secret
metadata:
  name: metabase-secrets
  namespace: fw-data
  labels:
    flexwiz.io/tier: data
    flexwiz.io/type: analytics
    flexwiz.io/app: metabase
type: Opaque
data:
  database: bWV0YWJhc2U= # base64 encoded "metabase"
  username: bWV0YWJhc2U= # base64 encoded "metabase"
  password: cGFzc3dvcmQ= # base64 encoded "password"
