
# mongodb/secrets/.secrets.yaml.example
# This is a template, will be replaced by sealed-secrets in each environment
apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secrets
  namespace: fw-storage
  labels:
    flexwiz.io/tier: storage
    flexwiz.io/type: database
    flexwiz.io/app: mongodb
    flexwiz.io/env: local
type: Opaque
data:
  username: bW9uZ28= # base64 encoded "mongo"
  password: cm9vdA== # base64 encoded "root"
