apiVersion: v1
kind: Secret
metadata:
  name: metabase-secrets
  namespace: analytics
  labels:
    flexwiz.io/tier: analytics
    flexwiz.io/type: business-intelligence
    flexwiz.io/app: metabase
type: Opaque
data:
  database: bWV0YWJhc2U= # base64 encoded "metabase"
  username: bWV0YWJhc2U= # base64 encoded "metabase"
  password: cGFzc3dvcmQ= # base64 encoded "password"
