apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secrets
  namespace: fw-databases
  labels:
    flexwiz.io/tier: storage
    flexwiz.io/type: database
    flexwiz.io/app: postgresql
type: Opaque
data:
  database: cG9zdGdyZXM= # base64 encoded "postgres"
  username: cG9zdGdyZXM= # base64 encoded "postgres"
  password: cGFzc3dvcmQ= # base64 encoded "password"
