
# minio/secrets/.secrets.yaml.example
# This is a template, will be replaced by sealed-secrets in each environment
apiVersion: v1
kind: Secret
metadata:
  name: minio-secrets
  namespace: fw-storage
  labels:
    flexwiz.io/tier: storage
    flexwiz.io/type: object-storage
    flexwiz.io/app: minio
    flexwiz.io/env: local
type: Opaque
data:
  username: YWRtaW4=      # base64 encoded admin
  password: cGFzc3dvcmQ=  # base64 encoded password
