apiVersion: v1
kind: Secret
metadata:
  name: keycloak-secrets
  namespace: fw-security
  labels:
    flexwiz.io/tier: security
    flexwiz.io/type: iam
    flexwiz.io/app: keycloak
type: Opaque
data:
  username: YWRtaW4= # base64 encoded "admin"
  password: YWRtaW4= # base64 encoded "admin"

---
kind: Secret
metadata:
  name: keycloak-db-secrets
  namespace: fw-security
  labels:
    flexwiz.io/tier: security
    flexwiz.io/type: iam
    flexwiz.io/app: keycloak
type: Opaque
data:
  database: a2V5Y2xvYWs= # base64 encoded "keycloak"
  username: a2V5Y2xvYWs= # base64 encoded "keycloak"
  password: cGFzc3dvcmQ= # base64 encoded "password"
